/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 170px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: #ffffff;
    width: 2em;
}

#calendarPopup {
    border-radius: 3px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    font-weight: bold; 
}


#calendarPopup .calendar {
    padding: 12px;
}

.calendar {
    padding: .3em 1.35em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding: 2px;
}

.calendar-change-month-back {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-left.png");
    border-radius: 4px;
}

.calendar-change-month-back:hover {
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.8);
}

.calendar-change-month-back:active {
    background-color: rgba(255,255,255,1.0);
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.8);
}

.calendar-change-month-forward {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-right.png");
    border-radius: 4px;
}

.calendar-change-month-back:rtl {
    background-image: url("img/calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
	background-color: white;
	border: 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 1px;
	transition-duration: 200;
}

.calendar-change-month-back:active {
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.1);

}

.calendar-change-month-forward {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-right.png");
    border-radius: 4px;
}	

.calendar-change-month-forward:hover {
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.8);	
}

.calendar-change-month-forward:active {
    background-color: rgba(255,255,255,1.0);
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.8);	

}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.calendar-day-base {
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    width: 24px;
    height: 24px;

}

.calendar-day-base:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.8);
}

.calendar-day-base:active {
    background-color: #ffffff;
    color: #151C24;
    font-weight: bold;
}

.calendar-day-heading {
    color: #fff;
    font-weight: bold;
}

.calendar-week-number {
    color: #fff;
    font-weight: normal;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    border-top-width: 0;
    border-left-width: 0;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.4);
}

.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #fff;
    font-weight: normal;
}

.calendar-nonwork-day {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F20909;
    font-weight: bold;
}

.calendar-today {
    background-color: #ffffff;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.7);
    color: #151C24;
    font-weight: bold;
}

.calendar-other-month-day {
    color: #fff;
    font-weight: bold;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #B70AF5;
}

.events-header-vbox {
    spacing: 10px;
}

.events-header-vbox {
    spacing: 10px;
}

.events-header {
    height: 40px;
}

.events-header-hbox {
    spacing: 8px;
    padding: 0.3em;
}

.events-day-header {
    font-size: 14px;
    color: #B70AF5;
    font-weight: bold;
}

.events-day-dayname {
    font-size: 12px;
    color: #B70AF5;
    text-align: left;
}

.events-day-time {
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-align: right;
}

.events-day-task {
    font-size: 12px;
    color: #1409AD;
    font-weight: normal;
}

.events-day-name-box {
    width: 20px;
}

.events-time-box {
    width: 70px;
}

.events-event-box {
}

.url-highlighter {
    link-color: #1409AD;
}
